<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>게시판 목록</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
       <table>
            <thead>
                <td>제목</td>
                <td>작성일</td>
            </thead>
            <tbody>
                <tr th:each="board : ${boardList}">
                    <td>
                        <a th:href="@{|/board/detail/${board.bno}|}" th:text="${board.title}"></a>
                    </td>
                    <td>[[${board.createDate}]]</td>
                </tr>
            </tbody>
       </table> 
    </body>
</html>